* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;
    padding: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

/* Card inteiro clicável */
.card {
    text-decoration: none;
    color: black;
    border: 3px solid black;
    background-color: white;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 4px 4px 0 black;
}

/* Parte da foto */
.foto {
    height: 150px;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img {
    max-width: 100%;
    max-height: 100%;
}

/* Parte das características */
.info {
    padding: 10px;
    text-align: center;
}

.info h3 {
    margin-bottom: 8px;
}

.player-container {
    max-width: 900px;
    margin: 40px auto;
    background: #536581;
    border: 3px solid black;
    padding: 20px;
}

/* Header */
.player-header {
    display: flex;
    gap: 20px;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
}

.player-foto {
    width: 250px;
    height: 250px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-foto img {
    max-width: 100%;
    max-height: 100%;
}

/* Info principal */
.player-main-info h1 {
    margin-bottom: 10px;
}

.player-times {
    margin-top: 10px;
    font-weight: bold;
}

/* Títulos */
.player-titles {
    margin-top: 30px;
}

.player-titles h2 {
    margin-bottom: 10px;
}

.player-titles table {
    width: 100%;
    border-collapse: collapse;
}

.player-titles th,
.player-titles td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

.player-titles th {
    background: #1d5bb8;
}

/* Botão */
.btn-voltar {
    display: inline-block;
    margin-top: 30px;
    padding: 8px 16px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
}

.btn-voltar:hover {
    background: black;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #1d5bb8;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* BOTÕES */
.btn-small {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 12px;
    background: #ff4655;
    color: white;
    border-radius: 6px;
    font-size: 14px;
}

.btn-small:hover {
    background: #e03b48;
}

/* TÍTULOS HEADER */
.titles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}