{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">

    <!-- ITEM -->
     {% if dados %}
     {% for player in dados %}
    <a href="{% url 'player' player.id%}" class="card">
        <div class="foto">
            <img src="{% static 'media/' %}{{player.foto}}" alt="Foto do item">
        </div>

        <div class="info">
            <h3>{{player.nickname}}</h3>
            <p><strong>Time:</strong> {{player.team}}</p>
            <p><strong>Função:</strong> {{player.role}}</p>
        </div>
    </a>
    {% endfor %}
    {% else %}
    {% endif %}


{% endblock %}

